*.pyc
*.log
settings.py
.DS_Store
.ipynb_checkpoints/console-checkpoint
.ipynb_checkpoints/list-dict-checkpoint.py
.ipynb_checkpoints/string-number-checkpoint.ipynb
.ipynb_checkpoints/string-number-checkpoint.py